<%- layout('layouts/main.ejs') %>

<form action="/login" method="POST">

    <input type="email" name="email" placeholder="someone@example.com">
    <input type="password" name="password" id="" placeholder="Ingrese su contraseña">

    <button type="submit">
        Iniciar Sesion
    </button>
</form>